.headerpic{
  background-image: url("ttop.jpg");
  background-size: cover;
  height: 50vh;

}

.blue{
  background-color: #416E8F;
}

.tunnel{
  background-image: url("map replacement.jpg");
  background-size: cover;
  height: 45vh;
}